body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* ヘッダー */
.header {
  background: #999;
  padding: 10px 40px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.nav li {
  margin-right: 20px;
}

.nav a {
  color: #fff;
  text-decoration: none;
}

/* メインビジュアル　*/
.hero {
  height: 500px; /*高さ*/
  background-image: url("../images/anonimasu2.webp");
  background-size: cover; /*画面いっぱい*/
  background-position: center; /*中央寄せ*/
  /*background-repeat: no-repeat;*/
  /*background: linear-gradient(120deg, #b7dfe8, #a7cfa7, #f2b58f);*/
  display: flex;
  /*flex-direction: column;*/
  /*justify-content: center;*/
  align-items: center;
  padding-left: 50px;
  color: #000;
}

.hero h1 {
  font-size: 36px;
  color: white;
}

/* 商品一覧 */
.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 50px 0;
}

.product {
  text-align: center;
  transition: transform 0.2;
}

.product img {
  width: 100%;
  max-width: 150px;
}

.product-link {
  color: #000;
  text-decoration: none;
  display: block;
}

.product:hover {
  transform: scale(1.05);
}

/* フッター */
.footer {
  background: #999;
  color: #fff;
  text-align: center;
  padding: 15px;
}
