body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* ヘッダー */
.header {
  background: #999;
  padding: 10px 40px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.nav li {
  margin-right: 20px;
}

.nav a {
  color: #fff;
  text-decoration: none;
}

/* メインビジュアル　*/
.hero {
  height: 300px;
  background-image: url("images/dotore.jpeg");
  background-size: cover;
  /* background-position: center; */
  background-repeat: no-repeat;
  background: linear-gradient(120deg, #b7dfe8, #a7cfa7, #f2b58f);
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center;*/
  padding-left: 50px;
}

.hero h1 {
  font-size: 36px;
  color: white;
}

/* 商品一覧 */
.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 50px 0;
}

.product {
  text-align: center;
}

.product img {
  width: 100%;
  max-width: 150px;
}

/* フッター */
.footer {
  background: #999;
  color: #fff;
  text-align: center;
  padding: 15px;
}
