body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/*ヘッダー*/
.header {
  background: #999;
  padding: 10px 40px;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.nav li {
  margin-right: 20px;
}

.nav a {
  color: #fff;
  text-decoration: none;
}

.about {
  max-width: 800px;
  margin: 80px auto;
  padding: 20px;
  line-height: 1.8;
  background: #f5f5f5;
}

.about h2 {
  text-align: center;
  margin-bottom: 40px;
  letter-spacing: 2px;
}
.about section {
  margin-bottom: 50px;
}

.about h3 {
  font-size: 22px;
  border-left: 5px solid #000;
  padding-left: 12px;
  margin-bottom: 15px;
}

.about p {
  font-size: 17px;
  font-weight: 500;
  line-height: 1.8;
}

/*フッター*/
.footer {
  background: #999;
  color: #fff;
  text-align: center;
  padding: 15px;
}

/*スマホ対応*/
@media (max-width: 768px) {
  body {
    padding: 0 10px;
  }

  .container {
    flex-direction: column;
  }

  .about p {
    font-size: 15px;
  }

  img {
    width: 100%;
    height: auto;
  }
}
