/* 全体 */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #fff;
}

/* ナビ */
.header {
  background: #9e9e9e;
  padding: 10px 40px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  display: flex;
  /*justify-content: center;
  flex: 1;*/
  list-style: none;
  padding: 0;
}

.nav li {
  margin-right: 20px;
}

.nav a {
  color: #fff;
  text-decoration: none;
}

/* お問い合わせ */
.contact {
  text-align: center;
  padding: 80px 20px;
}

.contact h1 {
  margin-bottom: 40px;
  letter-spacing: 2px;
}

/* フォーム */
.contact-form {
  max-width: 500px;
  margin: 0 auto;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.contact-form textarea {
  height: 120px;
  resize: none;
}

/* 送信ボタン */
.contact-form button {
  padding: 10px 40px;
  background: #666;
  color: #fff;
  border: none;
  cursor: pointer;
}

.contact-form button:hover {
  opacity: 0.8;
}

/* フッター */
.footer {
  background: #9e9e9e;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 100px;
}

/* ===　スマホ対応 === */
@media screen and (max-width: 768px) {
  /* ナビを縦並び　*/
  .nav {
    flex-direction: column;
    gap: 10px;
  }

  .nav ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav li {
    margin: 5px 10px;
  }

  .nav-right {
    align-self: flex-end;
  }

  /* お問い合わせ全体*/
  .contact {
    padding: 40px 15px;
  }

  /*タイトル*/
  .contact h2 {
    font-size: 22px;
  }

  /*フォーム*/
  .contact-form {
    width: 100%;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 16px; /*スマホで入力しやすく*/
  }

  /*ボタン*/
  .contact-form button {
    width: 100%;
    padding: 14px;
    font-size: 16px;
  }
}
