body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* ヘッダー */
.header {
  background: #9e9e9e;
  padding: 10px 40px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  display: flex;
  /*justify-content: center;
  flex: 1;*/
  list-style: none;
  padding: 0;
}

.nav li {
  margin-right: 20px;
}

.nav a {
  color: #fff;
  text-decoration: none;
}

/*ページネーション*/
.pagination {
  text-align: center;
  margin: 30px 0;
}

.pagination a {
  margin: 0 8px;
  text-decoration: none;
  color: #333;
}

.pagination .active {
  border: 1px solid #333;
  padding: 4px 8px;
}

/* 商品一覧*/
.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /*flex-wrap: wrap; /*折り返し*/
  /*justify-content: center; /*中央寄せ*/
  justify-content: center;
  gap: 40px; /*商品の間隔*/
  padding: 40px;
  max-width: 1100px;
  margin: 0 auto;
}

.product {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  /*width: 200px;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  /*text-align: center;*/
  transition: 0.3s;
}

.product:hover {
  transform: translateY(-5px);
}

.product img {
  width: 100%;
  max-width: 150px;
  /*background: #eee;*/
  height: 180px;
  margin: 0 auto;
  display: block;
  /*padding: 20px;*/
  /*box-sizing: border-box;*/
}

.name {
  margin-top: 15px;
  font-weight: bold;
}

.price {
  color: #666;
}

/*フッター*/
.footer {
  background: #9e9e9e;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

/* スマホ*/
@media (max-width: 768px) {
  .products {
    grid-template-columns: 1fr;
  }

  .header {
    padding: 10px 20px;
  }

  .nav ul {
    flex-direction: column;
    gap: 10px;
  }
}
