body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* ヘッダー */
.header {
  background: #9e9e9e;
  padding: 10px 40px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  display: flex;
  /*justify-content: center;
  flex: 1;*/
  list-style: none;
  padding: 0;
}

.nav li {
  margin-right: 20px;
}

.nav a {
  color: #fff;
  text-decoration: none;
}

/*ページネーション*/
.pagination {
  text-align: center;
  margin: 30px 0;
}

.pagination a {
  margin: 0 8px;
  text-decoration: none;
  color: #333;
}

.pagination .active {
  border: 1px solid #333;
  padding: 4px 8px;
}

/* 商品一覧*/
.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /*flex-wrap: wrap; /*折り返し*/
  justify-content: center; /*中央寄せ*/
  gap: 30px; /*商品の間隔*/
  padding: 100px;
  /*max-width: 5000px;
  margin: 40px auto;*/
}

.product {
  text-align: center;
  transition: transform 0.2;
}

.product img {
  width: 100%;
  max-width: 150px;
}

.product-link {
  color: #000;
  text-decoration: none;
  display: block;
}

.product:hover {
  transform: scale(1.05);
}

/*@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }
}*/

/*.product {
  width: 25%;
  text-align: center;
}*/

.product img {
  width: 100%;
  max-width: 150px;
  background: #eee;
  padding: 20px;
}

.name {
  margin-top: 10px;
}

.price {
  color: #666;
}

/*フッター*/
.footer {
  background: #9e9e9e;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

/*モバイル対応*/
@media screen and (max-width: 768px) {
  /*ヘッダー*/
  .nav {
    flex-direction: column;
    gap: 10px;
  }

  .nav ul {
    justify-content: center;
    flex-wrap: wrap;
  }

  .cart {
    align-self: flex-end;
  }

  /*ページネーション*/
  .pagination {
    font-size: 14px;
  }

  /*商品一覧：２列*/
  .products {
    grid-template-columns: repeat(2, 1fr);
    padding: 30px 20px;
  }

  .product img {
    max-width: 120px;
    padding: 10px;
  }

  .product-link {
    display: block;
    padding: 10px;
  }
}
